*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* background-color: #9EC8B9 ; */
}

/* table{
    color: #0F1035 !important;
} */
